body {
  background: #faf2e4;
  margin: auto;
  width: 80%;
}
h1 {
  text-transform: uppercase;
  border-bottom: 2px solid #57b1dc;
  text-align: center;
}
h2 {
  font-size: 1em;
  color: #d1633c;
}
img {
  width: 400px;
}
.image {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
